@media screen and (max-width: 1050px) {
  #page {
    margin-top: 0px;
  }
  #text {
    padding: 20px;
  }
  #story {
    padding: 0px 20px;
  }
}
@media screen and (max-width: 768px) {
  .basic-nav .navbar {
    border-radius: 0px;
    margin-top: 0px !important;
  }
}
