@media screen and (max-width: 1050px) {
  #page {
    margin-top: 0px;
  }
  #text {
    padding: 20px;
  }
  #story {
    padding: 0px 20px;
  }
}
@media screen and (max-width: 576px) {
  #text h1 {
    font-size: 4rem;
  }
  .basic-nav .navbar {
    border-radius: 0px;
    margin-top: 0px !important;
  }
  #chef_word {
    padding: 0px 10px;
  }
}
